
/**** BEGIN responsiveness ****/
/**** iPad portrait ****/
@media only screen and (min-width: 768px) and (max-width: 959px) { 

}

/**** Phone landscape ****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
.box, .menu1 .box, .events1col .box, .team .box, .menu3 .box, .gg-gallery .box, .widget-area .box, .widget-area .col6 {
	width: 75% !important;
}
.gallery-widget li, .gallery-widget li img {
	width: 95%;
}
span.image-rollover {
	width: 92%;
}
ul.menu-categories li {
	width: 93%;
	margin-left: 10px;
}
h1.menu-cat, h1.pagetitle, .nivo-caption p, .menu-desc, .box-nm h1.pagetitle {
	width: 93%;
}
#contentwrap, .m-container {
	width: 100%;
}
.menu-item.box.col12.boxbg {
	width: 93% !important;
}
#content, .page-content {
	padding: 10px;
}
#contactform textarea {
	width: 96%;
}
#logo {
	background: url("images/bg-logo-mobile.jpg") repeat-x scroll left bottom #a92c2c;
}
.gg-gallery .box {
	width: 95% !important;
}
.gg-gallery span.image-rollover {
	width: 100% !important;
}
}

/**** Phone portrait ****/
@media only screen and (min-width: 320px) and (max-width: 479px) {
.box, .menu1 .box, .events1col .box, .team .box, .menu3 .box, .gg-gallery .box, .widget-area .box, .widget-area .col6 {
	width: 75% !important;
}
.gallery-widget li, .gallery-widget li img {
	width: 95%;
}
span.image-rollover {
	width: 92%;
}
ul.menu-categories li {
	width: 93%;
	margin-left: 10px;
}
h1.menu-cat, h1.pagetitle, .nivo-caption p, .menu-desc, .box-nm h1.pagetitle {
	width: 93%;
}
#contentwrap, .m-container {
	width: 100%;
}
.menu-item.box.col12.boxbg {
	width: 93% !important;
}
#content, .page-content {
	padding: 10px;
}
#contactform textarea {
	width: 96%;
}
#logo {
	background: url("images/bg-logo-mobile.jpg") repeat-x scroll left bottom #a92c2c;
}
.gg-gallery .box {
	width: 95% !important;
}
.gg-gallery span.image-rollover {
	width: 100% !important;
}
}